{% load static tailwind_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
    <title>Goldmine AI</title>

    <script src="https://cdn.tailwindcss.com"></script>
        <!-- OR download tailwind.min cdn file and paste your file -->
        <!-- <script src="./assets/tailwind/tailwind.min.js"></script> -->
        <!-- Configure your strategy -->
        <script>
                tailwind.config = {
                    darkMode: 'class', /* class/media, here we use class to enable manually dark mode */
                }
        </script>
        <script>
            /**
             * Loads the theme stored
            */
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                    document.documentElement.classList.remove('dark')
            }
        </script>
    {% tailwind_css %}
</head>

{#<body class="transition-colors duration-300 ease-in-out flex flex-col h-screen justify-between bg-gradient-to-t from-zinc-400 to-zinc-200 dark:from-zinc-950 dark:to-zinc-800">#}
<body class="animate-fade transition-colors duration-300 ease-in-out flex flex-col h-screen justify-between bg-zinc-300 dark:bg-zinc-900">
    <header>
        <nav class="flex justify-between items-center w-[98%] mx-auto p-4">
          <div class="">
            <!--Site logo and name-->
              <a href="{% url 'home' %}" class="flex items-center space-x-2 rtl:space-x-reverse">
                    <img src="/static/images/goldmine_ai_black_fonts.png" class="invert dark:invert-0 h-12" alt="Goldmine AI Logo"/>
                  <span class="self-center text-xl font-semibold whitespace-nowrap text-zinc-950 dark:text-white">Goldmine AI</span>
              </a>
          </div>
                {# nav bar buttons #}
{#                  <div class="nav-links md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">#}
{#                    <ul class="flex items-center md:flex-row flex-col md:items-center md:gap-[5vw] gap-8">#}
{#                      <li>#}
{#                        <a href="{% url 'maps' %}" class="block py-2 px-5 text-gray-900 rounded-none hover:bg-gray-100 hover:bg-transparent hover:text-blue-700 md:p-0 dark:text-white dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:bg-transparent dark:border-gray-700 transition-all font-bold">Maps</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="{% url 'about' %}" class="block py-2 px-5 text-gray-900 rounded-none hover:bg-gray-100 hover:bg-transparent hover:text-blue-700 md:p-0 dark:text-white dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:bg-transparent dark:border-gray-700 transition-all font-bold">About</a>#}
{#                      </li>#}
{#                        <li>#}
{#                        <a href="{% url 'home' %}" class="block py-2 px-5 text-gray-900 rounded-none hover:bg-gray-100 hover:bg-transparent hover:text-blue-700 md:p-0 dark:text-white dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:bg-transparent dark:border-gray-700 transition-all font-bold">Upload Files</a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
              <div class="flex items-center gap-5">

                  {#Dark Mode/Light Mode Switch#}
                  <button id="theme-toggle" type="button" class="hover:transition-all text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-slate-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 rounded-lg text-sm p-2.5">
                      <svg id="theme-toggle-dark-icon" class="w-4 h-4 hidden hover:transition-all hover:animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                      <svg id="theme-toggle-light-icon" class="w-4 h-4 hidden hover:transition-all hover:animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                  </button>

                  <!-- Upload File Button -->
                  <label for="uploadFile1"
                      class="transition-all flex bg-zinc-700 hover:bg-zinc-800 text-white text-base font-medium px-4 py-2 outline-none rounded-full w-max cursor-pointer mx-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-0 fill-white inline" viewBox="0 0 32 32">
                        <path d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z" data-original="#000000" />
                        <path d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z" data-original="#000000" />
                      </svg>
                      <input type="file" id='uploadFile1' class="hidden" />
                  </label>


                  <!-- Modal toggle -->
                    <button class="block text-white bg-zinc-700 hover:bg-zinc-800 focus:ring-4 focus:ring-zinc-300 font-medium rounded-full text-sm px-4 py-2 text-center dark:bg-zinc-700 dark:hover:bg-zinc-800 dark:focus:ring-zinc-800" type="button" data-modal-toggle="authentication-modal" data-modal-target="authentication-modal">
                    Sign in
                    </button>

                    <!-- Main modal -->
                    <div id="authentication-modal" aria-hidden="true" class="hidden overflow-x-hidden overflow-y-auto fixed h-modal md:h-full top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center">
                        <div class="transition-all relative w-full max-w-md px-4 h-full md:h-auto">

                            <!-- Modal content -->
                            <div class="bg-zinc-50 rounded-lg shadow relative dark:bg-zinc-700">
                                <div class="flex justify-end p-2">
                                    <button type="button" class="text-zinc-400 bg-transparent hover:bg-zinc-200 hover:text-zinc-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-zinc-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                    </button>
                                </div>
                                <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8" action="#">
                                    <h3 class="text-xl font-bold text-zinc-900 dark:text-white">Sign In</h3>
                                    <div>
                                        <label for="email" class="text-sm font-medium text-zinc-900 block mb-2 dark:text-zinc-200">Email</label>
                                        <input type="email" name="email" id="email" class="bg-zinc-50 border border-zinc-300 text-zinc-900 sm:text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-300 dark:text-white" placeholder="name@gmail.com" required="">
                                    </div>
                                    <div>
                                        <label for="password" class="text-sm font-medium text-zinc-900 block mb-2 dark:text-zinc-300">Password</label>
                                        <input type="password" name="password" id="password" placeholder="•••••••••" class="bg-zinc-50 border border-zinc-300 text-zinc-900 sm:text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-300 dark:text-white" required="">
                                    </div>
                                    <div class="flex justify-between">
                                        <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="remember" aria-describedby="remember" type="checkbox" class="bg-zinc-50 border border-zinc-300 focus:ring-3 focus:ring-zinc-300 h-4 w-4 rounded dark:bg-zinc-500 dark:border-zinc-600 dark:focus:ring-zinc-600 dark:ring-offset-zinc-800" required="">
                                            </div>
                                            <div class="text-sm ml-3">
                                            <label for="remember" class="font-medium text-zinc-900 dark:text-zinc-300">Remember me</label>
                                            </div>
                                        </div>
                                        <a href="#" class="text-sm text-zinc-700 hover:underline dark:text-zinc-200">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="w-full text-white bg-zinc-700 hover:bg-zinc-800 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-zinc-500 dark:hover:bg-zinc-600 dark:focus:ring-zinc-600">Login to your account</button>
                                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                                        Not registered? <a href="{% url 'create-account' %}" class="text-zinc-700 hover:underline dark:text-zinc-500">Create account</a>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>


                  <span class="relative flex size-3">
                        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-400 opacity-75"></span>
                          <span class="relative inline-flex size-3 rounded-full bg-red-500"></span>
                  </span>
{#                                    <img onclick="onToggleMenu(this)" class="h-6 md:hidden cursor-pointer invert-0 dark:invert" src="/static/images/menu.png" alt="Menu Button">#}
              </div>

        </nav>
    </header>


    <div>
    {% block content %}

{#    Search Bar on Homepage#}
        <form class="max-w-md mx-auto">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-black">Search</label>

{#             This class represents the Welcome message on the Homepage.#}
            <div id="typewriter" class="mx-auto flex items-center justify-center p-3 border-solid font-noto whitespace-nowrap text-2xl text-black dark:text-gray-50">
                <!---->
            </div>

                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-zinc-500 dark:text-zinc-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        </svg>
                    </div>
                    <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-zinc-500 border border-zinc-300 rounded-full bg-zinc-100 focus:ring-zinc-500 focus:border-zinc-500 dark:bg-zinc-700 dark:border-zinc-600 placeholder-zinc-500 dark:placeholder-zinc-100 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500" placeholder="Enter your command..." required />
                        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-zinc-700 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-full text-sm px-4 py-2 dark:bg-zinc-500 dark:hover:bg-zinc-700 dark:focus:ring-zinc-500 hover:transition-all dark:hover:transition-all">Search</button>

                </div>
        </form>

        {% endblock %}
    </div>

    <footer class="bg-transparent dark:bg-transparent bottom-0">
      <div class="mx-auto max-w-screen-2xl px-2 py-3 sm:px-6 lg:px-8">
        <div class="flex justify-between">
          <div class="text-sm text-zinc-700 dark:text-zinc-500 lg:mt-0 lg:text-right py-2">
            &copy; 2025 Goldmine AI
          </div>
            <div class="text-sm text-zinc-700 dark:text-zinc-500 mx-auto">
                By using Goldmine AI, you agree to our <a class="text-zinc-700 dark:text-zinc-400" href="/"><u><strong>Terms</strong></u></a> and have read our <a class="text-zinc-700 dark:text-zinc-400" href="/"><u><strong>Privacy Policy</strong></u></a>.
          </div>
            <div>
                <button type="button" data-modal-toggle="footer-modal" data-modal-target="footer-modal" class="text-sm md:me-0 focus:ring-4 py-2 focus:ring-zinc-300 dark:focus:ring-zinc-600" id="user-menu-button" aria-expanded="false" data-popup="user popup">
                    <span class="sr-only">Open user menu</span>
                    <img id="menu" class="w-7 h-7 rounded-lg invert dark:invert-0 opacity-70" src="/static/images/support_white.png" alt="user photo image">
                </button>

                <div id="footer-modal">

                </div>
            </div>
        </div>
      </div>
    </footer>

</body>
<script src="{% static "js/app.js"%}" defer></script>
<script src="{% static "js/typewriter.js"%}" defer></script>
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>

<script>
  const modal = document.getElementById('authentication-modal');
  const modalOpenButton = document.querySelector('[data-modal-toggle="authentication-modal"]');
  const modalCloseButton = document.querySelector('[data-modal-hide="authentication-modal"]');

  modalOpenButton.addEventListener('click', () => {
    modal.classList.remove('hidden');
    setTimeout(() => {
      modal.classList.add('opacity-100', 'translate-y-0');
    }, 10);
  });

  modalCloseButton.addEventListener('click', () => {
    modal.classList.remove('opacity-100', 'translate-y-0');
    setTimeout(() => {
      modal.classList.add('hidden');
    }, 300); // This should match the transition duration
  });

</script>

<!--Menu Toggle for Navbar-->
<script>

    function onToggleMenu(e){
        const navlinks = document.querySelector('.nav-links')
        e.id = e.id === 'menu'// ? 'close': 'menu'
        navlinks.classList.toggle('top-[8%]')
    }
</script>
</html>